<!doctype html>
<html>
    <head>
        <title>Touchwords</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
        <script src="/static/js/phaser.arcade.min.js"></script>
	<script src="/static/js/levels.json"></script>
        <script src="/static/js/verbs.js"></script>
        <script src="/static/js/game.js"></script>
	<script src="/static/js/instructions.js"></script>
	<script src="/static/js/shuffler.js"></script>
    </head>
    <body style="margin:0px; padding:0px">
        <div id="gameDiv"> </div>
    </body>
</html>
